.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project

.cache
/bin/
/Libs/
/.settings/
/.classpath
.svn/
.cache/

registracneData.txt
regData.txt
riadSSData.txt
ZZdetiNonRFO.txt
randomData.txt
ZZdetiDitec.txt
detiSSRFO.txt
detiSSNonRFO.txt
detiZSNonRFO.txt
detiMSNonRFO.txt